<%- include('head') %>
<body>
<%- include('navbar') %>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1 class="single-movie-title">
                <%= parsedData.title %>
            </h1>
            <ul>
                <li><%= parsedData.runtime %></li>
            </ul>
            <a href="<%= parsedData.homepage %>"><img src="<%= imageBaseUrl + parsedData.poster_path %>"/></a>

            <h3 class="overview-header">
                Overview
            </h3>

            <h4 class="single-movie-title">
                <%= parsedData.tagline %>
            </h4>
            <p class="single-movie-overview">
                <%= parsedData.overview %>
            </p>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<div class="col-sm-12 text-center">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        More Details
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">More Details</h4>
            </div>
            <div class="modal-body">
                <b class="modal-title" id="myModalLabel"><%= parsedData.title %></b><br>
                <a href="https://www.imdb.com/title/<%= parsedData.imdb_id %>" target="_blank">IMDB page</a><br><br>

                <b>Budget:</b>
                <p><%= new Intl.NumberFormat('en-US', {
                        style: 'currency',
                        currency: 'USD',
                        maximumSignificantDigits: 9
                    }).format(parsedData.budget) %></p>
                <b>Revenue:</b>
                <p><%= new Intl.NumberFormat('en-US', {
                        style: 'currency',
                        currency: 'USD',
                        maximumSignificantDigits: 9
                    }).format(parsedData.revenue) %></p>
                <b>Released:</b>
                <p><%= parsedData.release_date %></p>
                <b>Production Companies:</b>
                <ul>
                    <% parsedData.production_companies.forEach((company)=>{ %>
                        <li><%= company.name %></li>
                    <% }) %>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>